{% load staticfiles i18n %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block cabecalho %}
    <title>Agenda</title>
    {% endblock %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">TeamCoders**</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/adiciona/">Novo Evento</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block corpo %}
      <!-- body -->
      {% endblock %}
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  </body>
</html>
