{% extends 'base.html' %}
<!-- {% load i18n %} -->

  {% block corpo %}
<div class="section">
    <div class="row ">
      <div class="right">
        <a href="/adiciona/" class="waves-effect light-green darken-4 btn" >
          <i class="material-icons left">add</i> Adicionar Evento</a>
      </div>
        </div
        <div class="row">
          <table class="highlight centered">
            <thead>
              <tr>
                <th>Titulo</th>
                <th>Descrição</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Ações</th>
              </tr>
              <tbody>
                {% for item in lista_itens %}
                <tr>
                  <td>
                    {{ item.titulo }}
                  </td>
                  <td>
                    {{ item.descricao }}
                  </td>
                  <td>
                    {{ item.data|date:'d/m/Y' }}
                  </td>
                  <td>
                    {{ item.hora }}
                  </td>
                  <td>
                    <a href="/item/{{ item.id }}" class="waves-effect orange darken-1 btn"><i class="material-icons left">mode_edit</i>Editar</a>
                    <a href="/remover/{{ item.id }}" class="waves-effect red darken-4 btn"><i class="material-icons left">delete_forever</i>Excluir</a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td> Sem itens na lista </td>
                </tr>
                {% endfor %}
              </tbody>
            </thead>
          </table>
        </div>
  </div>
</div>
{% endblock %}
