{% extends 'base.html' %}

{% block corpo %}

  <h1> Remover </h1>
  <form action="." method="post">
    {% csrf_token %}
    <h2>{{ item.titulo }}</h2>
    <!-- <br> -->
    <p> {{ item.data|date:'d/m/Y' }} - {{ item.hora }}</p>
    <p> {{item.descricao}}
    <br>
    <br>
    <div class="right">
      <button class="btn waves-effect red darken-1" type="submit" name="action">Remover
        <i class="material-icons right">delete_forever</i>
      </button>
    </div>
    <div class="left">
      <a href="/" class="waves-effect  btn" >
        <i class="material-icons left">cancel</i>Cancelar</a>
    </div>
  </form

{% endblock %}
